* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#sampleui,
#sampleposting,
#userstories,
.book-collection {
  margin: 2em 0;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 2px 2px 2px 3px black;
}
#sampleui {
  background: salmon;
}
#sampleposting {
  background: rgb(171, 173, 16);
  color: gray;
}
.bookItem {
  cursor: pointer;
}
